<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<div class="navbar">
    <a href="{{url_for('home', player=player)}}">Home</a>
    <a href="/">Player</a>
</div>
<h1>Four Factors</h1>
<body class="plots">
    <img class="center" src="{{url_for('static', filename='TS% vs OWS 60 Games Min. Web App.png')}}", alt="TS% vs OWS 60 Games Min. Web App", width=800, height=800>
    <img class="center" src="{{url_for('static', filename='TOV% vs OWS 60 Games Min. Web App.png')}}", alt="TOV% vs OWS 60 Games Min. Web App", width=800, height=800>
    <img class="center" src="{{url_for('static', filename='TRB% vs WS 60 Games Min. Web App.png')}}", alt="TRB% vs WS 60 Games Min. Web App", width=800, height=800>
    <img class="center" src="{{url_for('static', filename='FTr vs OWS 60 Games Min. Web App.png')}}", alt="FTr vs OWS 60 Games Min. Web App", width=800, height=800>
</body>


