    <h1>NBA Player Stats</h1>
    <h2>Player: {{player}}</h2>   
    <ul>
        <li><a href='/{{player}}/ALL'>All</a></li>
        <li><a href='/{{player}}/PTS'>PTS</a></li>
        <li><a href='/{{player}}/AST'>AST</a></li>
        <li><a href='/{{player}}/TRB'>TRB</a></li>
        <li><a href='/{{player}}/FG%'>FG%</a></li>
        <li><a href='/{{player}}/eFG%'>eFG%</a></li>
        <li><a href='/{{player}}/FT%'>FT%</a></li>
        <li><a href='/{{player}}/2P%'>2P%</a></li>
        <li><a href='/{{player}}/3P%'>3P%</a></li>
        
    </ul>
    <a href='/'>CHOOSE ANOTHER PLAYER</a>
