    <head>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <div class="navbar">
        <a href="/">Player</a>
    </div>
    <body class="home">
        
        <h1>NBA Player Stats</h1>
        <h2>{{player}}</h2>  
        <img class="center" src={{img_href}} alt="Player Image">
        <div class="description">
            <p>
                Team: {{player_row.Tm.tolist()[0]}} |
                Position: {{player_row.Pos.tolist()[0]}} |
                Age: {{player_row.Age.tolist()[0]}} |
                Games Played: {{player_row.G.tolist()[0]}} |
                Games Started: {{player_row.GS.tolist()[0]}} |
                Minutes Per Game: {{player_row.MP.tolist()[0]}} 
                
            </p>
        </div>
    </body>
     
    <ul>
        <li><a href='/{{player}}/ALL'>All</a></li>
        <li><a href='/{{player}}/PTS'>PTS</a></li>
        <li><a href='/{{player}}/AST'>AST</a></li>
        <li><a href='/{{player}}/TRB'>TRB</a></li>
        <li><a href='/{{player}}/FG%'>FG%</a></li>
        <li><a href='/{{player}}/eFG%'>eFG%</a></li>
        <li><a href='/{{player}}/FT%'>FT%</a></li>
        <li><a href='/{{player}}/2P%'>2P%</a></li>
        <li><a href='/{{player}}/3P%'>3P%</a></li>
    </ul>
    <br>
    <br>
    <h2>Data Visualizations</h2>
    <ul>
        <li><a href='/{{player}}/FourFactors'>Four Factors</a></li>
    </ul>
    